# A선박

In [3]:
import pandas as pd
from glob import glob
from tqdm import tqdm

from GridIndexer import GridIndexer
from SV30Preprocess import SV30Preprocess

min_lat = 33.120581  # Minimum latitude value
max_lat = 38.726809  # Maximum latitude value
min_lon = 124.896901  # Minimum longitude value
max_lon = 132.058734  # Maximum longitude value
cell_size = 0.001  # Cell size in degrees

gridindexer = GridIndexer(min_lat, max_lat, min_lon, max_lon, cell_size)
preprocess = SV30Preprocess()
'''
LTEM Data Load (One Day)
'''

all_csv = glob('/STORAGE/DATA/01_KRISO_G_MAPPED_DATA/Position_LTEM/*.csv')
all_csv = sorted(all_csv)
selected_csv = all_csv[225:250]

total = pd.DataFrame()

for sel in tqdm(selected_csv):
    temp = pd.read_csv(sel, sep = ',', encoding='utf-8')
    total = pd.concat([total, temp])
print('One day LTEM Data Load ')

def Aship_to_dict(df):
    start_a_ship = df[df.SHIP_CODE.str.startswith('A')].SHIP_CODE.unique()

    # key 값을 어선 종류, value 값을 해당 어선의 dataframe 으로 받게끔 했다.
    dict_ = {}

    for a_ship in start_a_ship:
        value = df[df.SHIP_CODE.values == a_ship]
        dict_[a_ship] = value

    print('Key : SHIP_CODE startswith A / Value : A Dataframe END.')

    return dict_

dict_ = Aship_to_dict(total)
upper_2 = preprocess.upper_2_dataframe(dict_)
add_dist = preprocess.add_distance_df(upper_2)
dist_upper_10 = preprocess.dist_upper_10_df(add_dist)
reset_time = preprocess.reset_index_time_series(dist_upper_10)
add_cog = preprocess.add_cog_interval(reset_time)
straight_line = preprocess.similar_straight_cog(add_cog)
final = preprocess.dataframe_preprocessed(straight_line)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:03<00:00,  7.49it/s]

One day LTEM Data Load
Key : SHIP_CODE startswith A / Value : A Dataframe END.
SOG Filtering END.

/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/suresoft/anaconda3/envs/InternShelter/lib/python3.8/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

Derived variable dist END.
Dist > 10 Filtering END.
Time_Series readability END.
Derived variable dCOG END.
3 straight Line END.
Preprocessed Dict -> DataFrame END.

In [4]:
final

,szMsgSendDT,SHIP_CODE,dSOG,dCOG,dLat,dLon,dist,dCOG_diff
0,2022-07-08-04-54-29,AB080684,3.345621,199.0,34.888191,128.471924,20.749957,36.0
1,2022-07-08-04-56-47,AB080684,8.636784,193.0,34.883591,128.471649,512.168807,6.0
2,2022-07-08-04-56-53,AB080684,8.687938,201.0,34.883358,128.471558,27.188965,8.0
3,2022-07-08-04-56-59,AB080684,8.662209,202.0,34.883137,128.471436,27.004609,1.0
4,2022-07-08-04-57-02,AB080684,8.563384,200.0,34.883034,128.471390,12.190169,2.0
...,...,...,...,...,...,...,...,...
196837,2022-07-08-20-54-21,AB110b4a,6.700000,253.0,36.030201,129.435150,10.053421,0.0
196838,2022-07-08-20-54-40,AB110b4a,6.900000,250.0,36.030018,129.434464,65.016415,3.0
196839,2022-07-08-20-54-50,AB110b4a,6.400000,248.0,36.029907,129.434097,35.153807,2.0
196840,2022-07-08-20-55-08,AB110b4a,3.400000,239.0,36.029736,129.433670,10.669616,9.0
196841,2022-07-08-20-58-18,AB110b4a,3.000000,187.0,36.029488,129.433594,24.754768,52.0

In [29]:
final.to_csv('final_preprocessing10.csv')

# C선박

In [4]:
import pandas as pd
from glob import glob
from tqdm import tqdm

from GridIndexer import GridIndexer
from SV30Preprocess import SV30Preprocess

min_lat = 33.120581  # Minimum latitude value
max_lat = 38.726809  # Maximum latitude value
min_lon = 124.896901  # Minimum longitude value
max_lon = 132.058734  # Maximum longitude value
cell_size = 0.001  # Cell size in degrees

gridindexer = GridIndexer(min_lat, max_lat, min_lon, max_lon, cell_size)
preprocess = SV30Preprocess()
'''
LTEM Data Load (One Day)
'''

all_csv = glob('/STORAGE/DATA/01_KRISO_G_MAPPED_DATA/Position_LTEM/*.csv')
all_csv = sorted(all_csv)
selected_csv = all_csv[25:50]

total = pd.DataFrame()

for sel in tqdm(selected_csv):
    temp = pd.read_csv(sel, sep = ',', encoding='utf-8')
    total = pd.concat([total, temp])
print('One day LTEM Data Load ')

def Aship_to_dict(df):
    start_a_ship = df[df.SHIP_CODE.str.startswith('C')].SHIP_CODE.unique()

    # key 값을 어선 종류, value 값을 해당 어선의 dataframe 으로 받게끔 했다.
    dict_ = {}

    for a_ship in start_a_ship:
        value = df[df.SHIP_CODE.values == a_ship]
        dict_[a_ship] = value

    print('Key : SHIP_CODE startswith A / Value : A Dataframe END.')

    return dict_

dict_ = Aship_to_dict(total)
upper_2 = preprocess.upper_2_dataframe(dict_)
reset_time = preprocess.reset_index_time_series(upper_2)
final = preprocess.dataframe_preprocessed(reset_time)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:14<00:00,  1.72it/s]

One day LTEM Data Load
Key : SHIP_CODE startswith A / Value : A Dataframe END.
SOG Filtering END.

/STORAGE/SHARE/Intern/jjlee/SV30 DEMO/전처리 항적/SV30Preprocess.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]['szMsgSendDT'] = timestamp_

Time_Series readability END.
Preprocessed Dict -> DataFrame END.

In [5]:
final

                szMsgSendDT SHIP_CODE       dSOG   dCOG       dLat        dLon
0       2022-06-29-12-00-00  CC010ce5  11.055814  304.0  34.828503  128.444855
1       2022-06-29-12-00-12  CC010ce5  11.445699  301.0  34.828846  128.444214
2       2022-06-29-12-00-15  CC010ce5  11.210802  303.0  34.828934  128.444077
3       2022-06-29-12-00-21  CC010ce5  11.292789  303.0  34.829109  128.443756
4       2022-06-29-12-00-24  CC010ce5  11.276790  304.0  34.829193  128.443604
...                     ...       ...        ...    ...        ...         ...
601166  2022-06-30-12-59-30  CA05004f  10.288463  202.0  34.295185  126.673401
601167  2022-06-30-12-59-36  CA05004f  10.452949  204.0  34.294918  126.673256
601168  2022-06-30-12-59-39  CA05004f  10.593792  201.0  34.294773  126.673203
601169  2022-06-30-12-59-42  CA05004f  10.249609  203.0  34.294643  126.673134
601170  2022-06-30-12-59-54  CA05004f  10.533125  205.0  34.294113  126.672836

[601171 rows x 6 columns]

In [6]:
final.to_csv('C선박2.csv')